$colors: (
    primary: (
        400: hsl(172, 67%, 45%)
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsl(189, 41%, 97%),
        300: hsl(185, 41%, 84%), // background color
        400: hsl(184, 14%, 56%),
        500: hsl(186, 14%, 43%),
        600: hsl(183, 100%, 15%)
    )
);

$type-scale: (
    small: (
        300: 1rem,
        400: 1.125rem,
        500: 1.563rem,
        600: 1.953rem,
        700: 2.441rem,
        800: 3.052rem
    ),
    large: (
        300: 1rem,
        400: 1.425rem,
        500: 2rem,
        600: 2.827rem,
        700: 4rem,
        800: 5.653rem
    )
);

$breakpoints: (
    small: 25em,
    large: 90em
);