<div class="container-md">
    <h1 class="main-title">
        <span>SPLI</span>
        <span>TTER</span>
    </h1>
    <div class="card row">
        <div class="col-sm-6">
            <div class="inputs">
                <!-- Bill label and input -->
                <div class="my-3">
                    <label class="form-label" for="bill">Bill</label>
                    <input class="form-control" type="number" id="bill" name="bill" value="0">
                </div>

                <!-- Select tip percentage -->
                <div class="form-label">Select Tip %</div>
                <div class="row mb-3 g-3">
                    <div *ngFor="let percentage of tipPercentages" class="col-sm-6 col-md-4">
                        <atom-radio-button [percentage]="percentage">
                        </atom-radio-button>
                    </div>
                    <div class="col-6 col-sm-4">
                        <input class="tip-card" type="number" placeholder="Custom">
                    </div>
                </div>

                <!-- Number of people input -->
                <label class="form-label" for="personCount">Number of People</label>
                <input class="form-control" type="number" name="personCount" id="personCount" value="5">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="outputs">
                <div>
                    <div>
                        Tip Amount
                        <span>per person</span>
                        <div>$0.00</div>
                    </div>
                    <div>
                        Total
                        <span>per person</span>
                        <div>$0.00</div>
                    </div>
                </div>
                <button class="btn btn-primary" type="button">RESET</button>
            </div>
        </div>
    </div>
</div>